<div  ng-show="authenticated">
    <!--p>This is the partial for view 2.</p-->
    <input type="text" name="nombre" ng-model="todoNombre" placeholder="Nombre" class="form-control" minlength="1">
    <input type="number" name="numero" ng-model="todoNumero" class="form-control" min="1" max="10">
    <button ng-click="newTodo()" class="btn btn-default">Enviar</button>
</div>
<div  ng-show="!authenticated">
    <h1>No Autenticado</h1>
</div>
