<!--p>This is the partial for view 3.</p-->
<table class="table table-striped table-hover">
    <tr>
        <th>
            <button class="btn btn-default"  ng-click="sortBy('nombre')">Descripcion</button>
            <span class="sortorder" ng-show="propertyName === 'nombre'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <button class="btn btn-default" ng-click="sortBy('numero')">Prioridad</button>
            <span class="sortorder" ng-show="propertyName === 'numero'" ng-class="{reverse: reverse}"></span>
        </th>
    </tr>
    <tbody>
    <tr ng-repeat="todo in listado  | orderBy:propertyName:reverse">
        <td>{{todo.nombre}}</td>
        <td>{{todo.numero}}</td>
    </tr>
    </tbody>
</table>
