
    <h1>Directorio de clientes</h1>
    <table class="table table-striped table-hover">
        <tr>
            <thead>
                <td >Identificación</td>
                <td >Nombre</td>
                <td >Fotografía</td>
                <td >Detalles</td>
            </thead>
        </tr>
        <tbody>
        <tr ng-repeat="cli in clientes ">
            <td>{{cli.id}}</td>
            <td>{{cli.name}}</td>
            <td><image src= "/clients/{{cli.id}}/picture" alt="" width="80" height="100"/></td>
            <td><md-button class="md-primary md-raised" ng-click="showAlert($event,cli)" > Detalles </md-button></td>
        </tr>
        </tbody>
    </table>